/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system,
    /* Firefox supports this but not yet `system-ui` */ 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

summary {
  display: list-item;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  height: 100vh;
  background-repeat: no-repeat;
  background: #e7d2ec;
  font-size: 1rem;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  align-items: center;
}

.title {
  font-family: Aclonica;
  font-size: 3rem;
  text-align: center;
  padding: 5vh 0;
  text-shadow: 0.2rem 0.2rem 0.4rem #000, 0 0 1em #fff, 0 0 0.2em #fff;
}

.lg {
  display: none;
}

.slider-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.5rem 0.4rem rgb(255 255 255 / 20%);
  transition: all 0.2s ease;
}

.slide {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  backdrop-filter: blur(6rem);
}

.slide__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#pg1:checked ~ .slider-wrap .slider .slide1 {
  transform: translateY(0);
}

#pg2:checked ~ .slider-wrap .slider .slide2 {
  transform: translateY(-70vh);
}

#pg3:checked ~ .slider-wrap .slider .slide3 {
  transform: translateY(-140vh);
}

#pg4:checked ~ .slider-wrap .slider .slide4 {
  transform: translateY(-210vh);
}

.slider-desc-wrap {
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
}

.slider-desc {
  height: 3vh;
  overflow: hidden;
  transition: all 0.2s ease;
}

.slider-desc-text {
  font-family: 'El Messiri';
  font-weight: 700;
  font-size: 1.5rem;
  backdrop-filter: blur(2rem);
  transition: all 0.2s ease;
}

#pg1:checked ~ .slider-desc-wrap .slider-desc .text1 {
  transform: translateY(0);
}

#pg2:checked ~ .slider-desc-wrap .slider-desc .text2 {
  transform: translateY(-3vh);
}

#pg3:checked ~ .slider-desc-wrap .slider-desc .text3 {
  transform: translateY(-5.75vh);
}

#pg4:checked ~ .slider-desc-wrap .slider-desc .text4 {
  transform: translateY(-8.1vh);
}

.slider-bullets {
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.slider_pg {
  font-family: Aclonica;
  font-size: 1.5rem;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.slider_pg:hover {
  font-size: 2rem;
  color: #9146a4;
}

#pg1:checked ~ .slider-desc-wrap .slider-bullets .page1 {
  font-size: 2rem;
  color: #89dee2;
  text-shadow: 0.2rem 0.2rem 0.4rem #000, 0 0 1em blue, 0 0 0.2em blue;
}

#pg2:checked ~ .slider-desc-wrap .slider-bullets .page2 {
  font-size: 2rem;
  color: #89dee2;
  text-shadow: 0.2rem 0.2rem 0.4rem #000, 0 0 1em blue, 0 0 0.2em blue;
}

#pg3:checked ~ .slider-desc-wrap .slider-bullets .page3 {
  font-size: 2rem;
  color: #89dee2;
  text-shadow: 0.2rem 0.2rem 0.4rem #000, 0 0 1em blue, 0 0 0.2em blue;
}

#pg4:checked ~ .slider-desc-wrap .slider-bullets .page4 {
  font-size: 2rem;
  color: #89dee2;
  text-shadow: 0.2rem 0.2rem 0.4rem #000, 0 0 1em blue, 0 0 0.2em blue;
}

@media (max-width: 760px) {
  .title {
    font-size: 2rem;
  }

  .slider {
    height: 40vh;
  }

  #pg2:checked ~ .slider-wrap .slider .slide2 {
    transform: translateY(-40vh);
  }

  #pg3:checked ~ .slider-wrap .slider .slide3 {
    transform: translateY(-80vh);
  }

  #pg4:checked ~ .slider-wrap .slider .slide4 {
    transform: translateY(-120vh);
  }
}

@media (max-width: 430px) {
  .title {
    font-size: 1.5rem;
  }

  .slider-desc-wrap {
    flex-direction: column-reverse;
  }

  .slider-desc {
    height: 3vh;
  }

  .slider-desc-text {
    font-size: 1rem;
  }

  .slider-bullets {
    margin-bottom: 3vh;
    margin-left: 25%;
    width: 50%;
  }

  #pg3:checked ~ .slider-desc-wrap .slider-desc .text3 {
    transform: translateY(-6.2vh);
  }

  #pg4:checked ~ .slider-desc-wrap .slider-desc .text4 {
    transform: translateY(-9.2vh);
  }
}
